html, body {
	height: 100%;
}

body {
	background-color: #222;
	color: silver;
	font-family: andalus;
	min-width: 720px;
}

/*
=====================
Template
=====================
*/
#mainContent {
	display: flex;
	flex: 1 0 auto;
	width: 90%;
}

/*
=====================
Header
=====================
*/
header {
	padding-bottom: 10px;
	padding-top: 25px;
	text-align: center;
}

.falseButtonHeader {
	border: 2px solid silver;
	margin-right: 5%;
	padding: 10px;
}

.falseButtonHeader:nth-child(2n+1) {
	border-radius: 40%;
}

.falseButtonHeader:link, .falseButtonHeader:visited {
	color: silver;
	text-decoration: none;
}

#topHrHeader {
	margin-top: 30px;
}

/*
=====================
Footer
=====================
*/
footer {
	flex-shrink: 0;
	text-align: center;
	padding: 10px;
}

footer hr {
	width: 60%;
}

/*
=====================
Common classes
=====================
*/
.autoMar {
	margin: auto;
}

.seShaButtons {
	background-color: #222;
	border-color: #111;
	border-radius: 10%;
	color: #AAA;
	cursor: pointer;
	font-family: andalus;
	font-size: large;
}

.centText {
	text-align: center;
}

.divSeek {
	margin-bottom: 5px;
	overflow: hidden;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.hundWid {
	width: 100%;
}

.noMar {
	margin: 0px;
}

.noPad {
	padding: 0;
}

.noMarPad {
	margin: 0px;
	padding: 0;
}

.resizeImg {
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}

.siteSeparator {
	color: crimson;
}