form {
	display: flex;
	flex-direction: column;
	padding: 5%;
}

.aMainSite {
	border: 1px solid silver;
	border-radius: 3%;
	color: silver;
	display: inline-grid;
	font-size: x-large;
	margin: 0 0.9% 15px;
	min-width: 150px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: 18%;
}

.description {
	font-size: initial;
}

.edition {
	margin-bottom: 0px;
}

.inputFormP {
	margin-top: 0px;
}

.numberInput {
	width: 5em;
}

#searchButton {
	background-color: black;
	border-color: #333;
	border-radius: 10%;
	color: #AAA;
	cursor: pointer;
	font-family: andalus;
	font-size: large;
	margin-top: 20px;
}

#searchCriteria {
	border-radius: 10%;
	border-right: 1px solid #AAA;
	max-width: 10%;
	min-width: 200px;
	padding: 10px;
}

#siteContent {
	font-size: 0;
	padding: 10px;
	width: 100%;
}

#siteName {
	margin-top: 30px;
}