form {
	padding: 5%;
}

.someButton {
	margin-top: 20px;
}

.description {
	font-size: initial;
	height: 100%;
	overflow: hidden;
}

.divSiteTopo {
	border: 1px solid silver;
	border-radius: 3%;
	cursor: pointer;
	display: inline-grid;
	font-size: x-large;
	margin: 0 0.9% 15px;
	min-width: 150px;
	padding: 5px;
	text-align: center;
	width: 18%;
}

.edition {
	margin-bottom: 0px;
	margin-top: auto;
}

.inputFormP {
	margin-top: 0px;
}

.numberInput {
	width: 5em;
}

.siteImg {
	font-size: large;
}

.siteTopoContainer {
	max-height: 100%
}

#searchCriteria {
	border-radius: 10%;
	border-right: 1px solid #AAA;
	max-width: 10%;
	min-width: 200px;
	padding: 10px;
}

#siteContent {
	font-size: 0;
	padding: 10px;
	width: 100%;
}

#siteName {
	margin-top: 30px;
}