.imgBord {
	border: 1px solid silver;
	border-radius: 1%;
}

.divImgSecteur {
	text-align: center;
	width: 20%;
}

.infDiv {
	margin: 0px auto;
}

.infoTitle {
	font-size: 120%;
	text-decoration: underline;
}

.hSecObserver, .hVoieObserver {
	cursor: pointer;
	margin-top: 0px;
}

.siteSeparator {
	color: crimson;
}

.spanLong {
	margin-right: 30px;
}

#siteInfos {
	width: 80%;
}

#warning {
	color: crimson;
}